@use "../../styles/partials/variables" as *;


.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__title {
        padding: 1rem;
    }
    &__input {
        margin: 1rem;
        width: 50%;
       padding: 0.5rem;
    }
    &__button {
        margin-bottom: 2rem;
        height: 2rem;
        width: 11rem;
        font-weight: 600;
        background-color: $primary-color;
        &:hover {
            background-color: $secondary-color;
            color: $secondary-color-light;
        }
    }
}